@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --white: #fff;
    --green: #6DC47C;
    --light-green: #c5ead9;
    --black: #131a1f;
    --grey: #f7efef;
    
}

body{
    background: var(--green);
}

button {
    font-weight: 700;
    font-size: 0.875rem;
}

.main {
    background: var(--green);
    width: 100%;
    height: 100%;
    padding: 1.5625rem;
    
}
.main__header {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 12.5rem;
    padding: 1.5rem;
    border-radius: 8px 8px 0 0;
    font-size: 1.5rem;
}


.main__header__title {
    color: var(--black);
}

.main__header__title span  {
    background: #F1F3F4;
    padding: 4px 12px;
}

.btn__new-recipe {
    background-color: var(--green);
    color: var(--blue);
    padding: 1rem;
    width: 9.375rem;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    margin: 4px auto;
    font-weight: 700;
    font-size: 1rem;
}


/* ---------- Mostruário das receitas ----------*/

.main__container {
    
    background: linear-gradient(90deg, hsla(348, 88%, 66%, 1) 0%, hsla(36, 89%, 68%, 1) 100%);
    background: #F1F3F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 700px;
    height: calc(100vh - 15.625rem);
    padding: 24px 0;
    border-radius: 0 0 8px 8px;
    overflow: auto;
}

.recipe {
    background: var(--white);
    display: flex;
    flex-direction: column;
    max-width: 15.625rem;
    min-width: 15.625rem;
    margin: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 8px 0;
    cursor: pointer;
}

.recipe-title {
    color: var(--black);
    text-align: center;
    margin: 0.625rem;
    padding: 0.25rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}


.img-recipe {
    width: 90%;
    margin: 0 auto;
    min-height: 9.375rem;
    border-radius: 8px;
}

.btn-open {
    background: none;
    border: 1px solid var(--green);
    color: var(--black);
    padding: 0.625rem 1.5rem;
    margin: 0.75rem auto;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-open:hover {
    color: #f5f5f5;
    box-shadow: 0 0 40px 40px var(--green) inset;
    border: none;
    opacity: 0.9;
}


 /* ---------- Conteúdo da receita---------- */


.recipe__content {
    display: none;
    flex-direction: column;
    width: 40%;
    height: 650px;
    background: var(--grey);
    overflow: auto;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 8px;
    animation: fadeIn;
    animation-duration: 1s;
    color: #1b1b22;
}

.content-header {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding-top: 2.25rem;
    color: var(--black);
    text-transform: capitalize;
    gap: 16px;
    position: relative;
}

.content-header-img {
    
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
}

.content-header h1 {
    font-size: 1.75rem;
}

.recipe__content h2 {
    color: var(--green);
}

.ingredients {
    border-bottom: 1rem;
}

.ingredients, .instructions {
    padding-left: 1.5rem;
}

.recipe__content ul li {
    list-style-type: circle;
    margin: 1.5rem;
}

.recipe__content ol li {
    list-style-type: decimal;
    
}

.recipe__content li {
    margin: 1.5rem;
}

.recipe__content ol li::marker, .recipe__content ul li::marker{
    color: hsla(348, 88%, 66%, 1);
    font-size: 1.5rem;
    font-weight: 500;
}


#close-recipe {
    padding: 0.375rem;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;

    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
}

.actions {
    display: flex;
    gap: 0.875rem;
    margin: 2.25rem auto;

}
.btn__edit, .btn__delete{
    display: flex;
    align-items: center;
    padding: 2px 6px;
    cursor: pointer;
    background: none;
    border-radius: 4px;
    color: #1b1b22;
}

.btn__edit {
    border: 1px solid var(--green);
    
}

.btn__delete {
    border: 1px solid #dd4141;
}


.recipe:hover, .btn__edit:hover, .btn__delete:hover, 
#close-recipe:hover, .btn__new-recipe:hover{
    opacity: .9;
    transition: .3s all;
}


 /* ---------- Modal ---------- */

.modal__container, .modal__content{
    background: rgba(0, 0, 0, .5);
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modal__add-recipe, .modal__edit-recipe{
    background: #dddde4;
    display: none;
    flex-direction: column;
    margin: 0 auto;
    width: 45%;
    max-width: 700px;
    border: none;
    padding: 16px;
    border-radius: 4px;
    animation: fadeInDown;
    animation-duration: 1s;
}

.input, .textarea {
    
    background: #f4f4f5;
    margin: 8px 0;
    padding: 6px;
    border: 1px solid rgba(27, 27, 34, 0.5);
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input:focus , textarea:focus{
    outline: none;
    border: 1px solid var(--green);
}

label {
    color: #1b1b22;
    font-weight: bold;
}

 /* ---------- Botões dos modais ---------- */

.btn__modal{
    display: flex;
    justify-content: end;
}

.button{
    width: 100px;
    padding: 12px 2px;
    margin: 8px 4px;
    border: none;
    border-radius: 4px;
}

#btn-add, #btn-save{

    background: var(--green);
    color: #f5f5f5;
}

.btn-cancel{

    background: none;
    color: var(--green);
}

#btn-add:hover, .btn-cancel:hover,
#btn-save:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}


/*----------Scrollbar----------*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #3c3744; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px #3c3744; 
}



/*----------Responsividade----------*/

@media screen and  (max-width: 550px) {
    
    .main__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .modal__add-recipe, .modal__edit-recipe, .recipe__content{
        width: 100%;
        height: 100%;
        border: none;
        overflow: auto;
    }

    .recipe__content {
        min-width: 100%;
    }
    
    .main {
       padding: 8px;
        
    }

    ::-webkit-scrollbar {
        width: 4px;
    }
}


